@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main class="mt-5">
        <div class="bg-light p-5 rounded hero__div">
            <div>
                <h1 class="display-4 fw-bold lh-1">What is Raffle Kings Website</h1>
                <p class="lead">
                    Raffle Kings is an online platform that provides a comprehensive collection of raffles for enthusiasts to browse, select and participate in.
                    The website offers a diverse range of raffles from various categories, each with a unique set of prizes and chances to win.
                    Users can view a detailed description and photos of each raffle, select available slots, see the calculation of the total amount due, enter their name and contact details, and book their slots.
                    The website also provides an admin panel for the website admin to add and edit raffle pages, manage the list of running raffles, and view their booking status. <br> <br>
                    Raffle Kings aims to provide a seamless and engaging experience for raffle enthusiasts, with a user-friendly interface and a simple booking process.
                </p>
            </div>
            <div>
                <img class="rounded-lg-3" src="/Images/RaffleKingsLogoWhite.png" alt="" width="720">
            </div>
        </div>
    </main>
</div>



<section class="booking-card">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="booking-card-section">
                    <h1 class="booking-card-h1">Tickets cards</h1>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <style>
                            .buttonA a {
                                text-decoration: none;
                                color: white;
                            }
                        </style>

                        @{
                            foreach (var raf in ViewBag.RaffleList)
                            {
                                <div class="col">
                                    <div class="booking-card" style="background-image: url(@raf.R_ThumbnailImage)">
                                        <div class="informations-container">
                                            <h2 class="title">
                                                @raf.R_Title
                                            </h2>
                                            <p class="sub-title">Will drawn at <b>@raf.R_DrawnAt.ToString("dd MMM yyyy")</b> </p>
                                            <p class="price">
                                                <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                                                    <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                                                </svg>Per Ticket R @raf.R_TicketPrice
                                            </p>
                                            <div class="more-information">
                                                <div class="info-and-date-container">
                                                    <div class="box info">
                                                        <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                                                            <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                                                        </svg>
                                                        <p><span style="font-size: 2rem;">@raf.R_Total_Booked </span> <br /> Booked</p>
                                                    </div>
                                                    <div class="box date">
                                                        <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                                                            <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
                                                        </svg>
                                                        <p><span style="font-size: 2rem;">@(raf.R_Total_Available - raf.R_Total_Booked)</span> <br />Available</p>
                                                    </div>
                                                </div>
                                                <p class="disclaimer">@raf.R_ShortDecription</p>
                                                <div class="book-container ">
                                                    <div class="content">
                                                        <a class="btn buttonA" href="@Url.ActionLink("RaffelDetailView", "Raffle", new {id = @raf.ID})">Reserve</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>




<section class="subscriber-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/envelope-home.png" />
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5">
                    <h2>Love raffles? </h2>
                    <p>You'll love the RaffleTix Insiders Weekly Newsletter</p>
                    <div class="input-group mb-3 mt-4">
                        <input type="text" class="form-control" placeholder="Enter email" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-success border-rad" type="button" id="button-addon2">Subscribe</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="testimonal">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="margin: auto; text-align: center; margin-bottom: 70px;">Our Recent Winners</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="recent__winner">
                    <img src="~/Images/testimonials-1.jpg" />
                    <h2>Emma Watson</h2>
                    <p>
                        Common patterns for building sites and apps that build on existing components and utilities with custom CSS and more.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="recent__winner">
                    <img src="~/Images/testimonials-2.jpg" />
                    <h2>John Dalton</h2>
                    <p>
                        Common patterns for building sites and apps that build on existing components and utilities with custom CSS and more.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="recent__winner">
                    <img src="~/Images/testimonials-3.jpg" />
                    <h2>Alina Gomez</h2>
                    <p>
                        Common patterns for building sites and apps that build on existing components and utilities with custom CSS and more.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="subscriber-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="h-100 p-5 center">
                    <h2>Get Started With us Now</h2>
                    <button class="btn btn-secondary">Get Started Now</button>
                </div>
            </div>

        </div>
    </div>
</section>
