@{
    ViewData["Title"] = "Home Page2";
	var RaffleDetails= ViewBag.RaffleDetails;

}
<script src="~/nicelabel/js/jquery.min.js"></script>
<style>
	.text_checkbox {
		float: left;
		margin-left: 20px;
		margin-top: 10px !important;
	}

	.text-nicelabel:not(:checked) + label {
		width: 7.25rem;
		/*background-color: #e9e9e9;*/
		color: #a7a7a7;
		/*border: 1px solid #dbdbdba6;*/
		box-shadow: 0 0 10px #e9e9e9;
	}

	.text-nicelabel:checked + label {
		width: 7.25rem;
	}
</style>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
	<div class="col-md-5 p-lg-5 mx-auto my-5">
		<h1 class="display-4 fw-normal">Raffle Title</h1>
		<p class="lead fw-normal">Raffle Short Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
		<a class="btn btn-outline-secondary" href="#">Browse More</a>
	</div> 
</div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Thumbnail Image" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
			<h1 class="display-5 fw-bold lh-1 mb-3">Raffle Title</h1>
			<h3 class="display-5   lh-1 mb-3" style="font-size: 2rem;">Only for <span class=" fw-bold" style="color: rebeccapurple">12$</span></h3>
        <p class="lead" style="text-align: justify; font-size: 1rem;">Raffle Long Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br /> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br /> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start"> 
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">More</button>
        </div>
      </div>
    </div>
  </div>


<div class="container my-5">
	<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
		<div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
			<h1 class="display-5 fw-bold   " style="color: black !important; text-align:center">Choose Your Tickets</h1> 
			<div id="text-checkbox">
				<br> 
				@{
					var see = RaffleDetails.R_Total_Available + RaffleDetails.R_Total_Booked;
					for (int i = 1; i <= see; i++)
					{
						var data = @RaffleDetails.R_BlockStartFrom + @i;
						<input class="text-nicelabel" value="@data" data-nicelabel='{"position_class": "text_checkbox", "checked_text": "@data", "unchecked_text": "@data"}' type="checkbox" />
					}
				}
			</div>
		</div>
	</div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
	<div class="py-5">
        <h1 class="display-5 fw-bold text-white"> <span id="count"></span> Selected = <span id="cost">00</span>$</h1>
		<div class="col-lg-12 mx-auto">
			<p class="fs-5 mb-4">Selected box are. <br /> <span id="selected_box"></span></p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				@if (ViewContext.HttpContext.Session.GetString("UserShortCode") == null)
				{
					<p>
						Login to continue to the add to cart process. <span style="margin-left:20px; font-weight: bold;">
							<a href="#">Login Now</a>
						</span>
					</p>
				}
				else
				{
					<button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Add To Cart</button>
				}
			</div>
		</div>
	</div>
</div>


<div class="container my-5">
	<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
		<div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
			<h1 class="display-4 fw-bold lh-1">Border hero with cropped image and shadows</h1>
			<p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
				<button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
				<button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
			</div>
		</div>
		<div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
			<img class="rounded-lg-3" src="/Images/iphone.png" alt="" width="720">
		</div>
	</div>
</div>
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Dark mode hero</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
        </div>
      </div>
    </div>
  </div>
  
@*
<section style="display: flex;align-items: center;justify-content: center; margin-top:30px; margin-bottom: 30px;" > 

	</style>
	

	<div class="container">
		<div class="row">
			<div class="col-md-12"  >
				<div>
					<div id="text-checkbox">
						<br> 
						@{
							var s = RaffleDetails.R_Total_Available + RaffleDetails.R_Total_Booked;
							for (int i = 1; i <= s; i++)
							{
								var data = @RaffleDetails.R_BlockStartFrom + @i;
								<input class="text-nicelabel" value="@data" data-nicelabel='{"position_class": "text_checkbox", "checked_text": "@data", "unchecked_text": "@data"}' type="checkbox" />
							}
						} 
					</div>
				</div>
			</div>
		</div>
	</div>
	

</section>

<section style="margin-top:30px; margin-bottom: 5rem;">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div style="background: #585858;
    color: white;
    display: flex;
    align-items: center; font-size: 14px !important;  " >
					<h1 id="count" style="margin-right: 20px;  font-size: 14px">0</h1>
                    <br>
					<h3  style=" font-size: 14px">Selected box are: <span id="selected_box" style=" font-size: 14px"></span> </h3>
				</div>
				
	</div> 
	</div> 
	</div> 
</section>*@


 
<script>
	$(function () {
		$('#text-checkbox>input').nicelabel();
	});
</script>
<script type="text/javascript">
	let stack=[];
	$(document).ready(function () {
		let count = 0;  
		$('input[type="checkbox"]').change(function(event) {
			  if(stack.indexOf(this.value) !== -1){
					const index = stack.indexOf(this.value);
					stack.splice(index, 1);
				}
				else{
					stack.push(this.value);
				}
			console.log(stack);
		});
		$("input[type=checkbox]").each(function () {
			$(this).change(updateCount);
		});
		updateCount();
		function updateCount() {
			var count = $("input[type=checkbox]:checked").length;
			var cost = Number(count * 10.3).toFixed(2);
			$("#count").text(count);
			$("#cost").text(cost);
			$("#selected_box").text(stack);
		};
	});

</script> 
 